<%= form_for @search do |f| %>
  <div id= "my_searches">
    <%= link_to_add_fields "Add Search", f, :search_attributes%>
  </div>

  </br>
  </br>
  <div><%= submit_tag 'Search',:name => nil %></div>
<% end %>


