

<div class="container">
  <div class="span7 offset3">
   <div id="internshipsbutton" class="<%= my_class %>">
    <tr>
      <td>   <%= link_to 'Add Internship',new_intern_internship_path(@intern) , class: "btn btn-info" %>     </td>
      <td> <%= link_to 'Back', searches_path,class: "btn btn-info" %> </td>
    </tr>
  </div>
    </div>
  </div>


