<div class="super">
  <h2 class>Interns Search</h2>
  <%= render partial: "components" %>
  <br/>
  <td> <%#= link_to 'New Intern', new_intern_path, id: "new_interns", name: "NewInterns", class: "btn btn-info" %></td>
</div>



